.head {
    font-size: 2.5rem;
    margin-top: 27px;
}

.nav {
    display: flex;
    top: 0;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 2px solid black; */
    background-color: rgba(255, 255, 255, 0.863);
    position: sticky;
    height: auto;
    width: 100%;

}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: blue;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 6vw;
}

.links li {
    margin-left: 71px;
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 20px;
}
.links li:hover{
    text-decoration: none;
    color: #000;
}
.input {
    width: 28vw;
    border-radius: 7px;
    border: 1px solid;
    height: 5vh;
    margin-left: 41px;
}

.check {
    margin-left: 20px;
}

.caption {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    overflow: hidden;
}

.caption .Gets_Started {
    position: absolute;
    height: 4vh;
    width: 9vw;
    top: 8vh;
    font-size: 1rem;
    left: 0;
    border: transparent;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.caption .Gets_Started:hover {
    background-color: #0572e7;
}

.caption-title {
    height: 27vh;
    width: 28vw;
    display: flex;
    justify-content: center;
    margin-left: 6vw;
    color: #05054f;
}

.paragraph {
    font-size: 2rem;
    font-weight: 900;
    color: #1F6A74;
}

.caption .text{
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
}

.text.first-text{
    left: 5vw;
    top: 4vh;
    font-size: 2.6rem;   
    height: 36vh;
}

.text.sec-text{
    width: 10.5vw;
    left: -15vw;
    top: 4vh;
    font-size: 2.6rem;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption .text.first-text{
    color: rgb(22, 22, 150);
}

.dark-mode .text.sec-text:before{
    background-color: #181818;
    transition-duration: 0.2s;
}
.sun {
    fill: black;
}

.dark-mode .sun {
    fill: white;
}


.text.sec-text:before{
    content: "";
    position: absolute;
    top: -2vh;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: white;
    border-left: 4px solid #4070F4;
    animation: animate 3s steps(8) infinite;
}

.extraBtn {
    height: 7vh;
    width: 12vw;
    position: absolute;
    left: 6vw;
    top: 44vh;
    text-decoration: none;
    list-style: none;
}

.extraBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 900;
    font-size: 1.4rem;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 2px);
    }

    100%{
        left: 0%;
    }
}

/* .caption h2 {
    padding-left: 100px;
    padding-top: 40px;
    color: rgb(22, 22, 150);
    font-size: 3rem;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: 600;
} */

.row a {
    text-decoration: none;
    color: white;
    padding-left: 4px;
}

/* dark mode start */

body {
    background-color: white;
    color: #181818;
    transition-duration: 0.2s;
}

.dark-mode {
    background-color: #181818;
    color: white;
    transition-duration: 0.2s;
}

.dark-mode .nav {
    background-color: #252525;
    color: white;
    transition-duration: 0.2s;
}

.dark-mode .links a {
    background-color: transparent;
    color: white;
    transition-duration: 0.2s;
}

/* .nav a:nth-child(1){
    color: white;
} */



.dark-mode .linkss a {
    background-color: transparent;
    color: white;
    transition-duration: 0.2s;
}

.dark-mode .buypack .linkss a {
    background-color: transparent;
    color: white;
    transition-duration: 0.2s;
}

.dark-mode span {
    color: white;
    transition-duration: 0.2s;
}

.dark-mode .searchbox {
    background-color: #121212;
    color: white;
    border: 1px solid rgb(22, 22, 150);
    transition-duration: 0.2s;
}

.dark-mode .caption h2 {
    color: white;
    transition-duration: 0.2s;
}

.dark-mode .buypack {
    background-color: #181818;
    transition-duration: 0.2s;
}

.dark-mode .buypack .links a {
    color: rgb(197, 190, 190);
    transition-duration: 0.2s;
}

.dark-mode .buypack .links a:hover {
    color: white;
    transition-duration: 0.2s;
}

.dark-mode .buypack .writingsection ul li {
    color: rgb(197, 190, 190);
    transition-duration: 0.2s;
}

.dark-mode .row i {
    color: orange;
    transition-duration: 0.2s;
}

/* darkmode end */

.mod {
    height: 44vh;
    width: 55vh;
    margin-top: -5vh;
    border: none;
    background-color: rgba(96, 90, 88, 0.233);
    color: white;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.mod .navmodel {
    height: 44vh;
    width: 55vh;
}

.mod:hover {
    border: none;
}

.down {
    background-color: rgb(5, 5, 79);
    height: 75vh;
}

.img {
    display: flex;
}

.img img {
    width: 6vw;
}

.pos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos #myVideo {
    height: 75vh;
}

/* play pause button */

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    transition-duration: 0.2s;
    margin-top: 68vh;
    position: absolute;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.search {
    position: fixed;
    top: 5vh;
    z-index: 10;
    left: 92vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox {
    width: 31vw;
    padding-left: 54px;
    height: 43px;
    border-radius: 13px;
}

.search span {
    position: absolute;
    left: 15vw;
    cursor: pointer;
}

.checkbox {
    left: -2vw;
    top: 7px;
    opacity: 0;
    position: absolute;
}

.label {
    margin: 0;
    left: 0;
    width: 50px;
    height: 10px;
    background-color: rgb(5, 5, 79);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 10px;
    background-color: white;
    /* position: absolute; */
    top: 0px;
    left: 2px;
    border-radius: 6px;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.demo_video_container{
    background-color: #1e3770;
    height: 185vh;
    width: 100%;
    border-radius: 45px;
    position: relative;
    width: 94%;
    left: 3%;
}

.demo_video_container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.demo_video_container span{
    margin-top: 5vh;
    font-size: 2rem;
    width: 41vw;
    font-weight: 500;
}

.grid-container {
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10vw;
    margin-top: 6vh;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    width: 13vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .grid-container .item1 p{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;

  }
  .grid-container .item2 p{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;

  }
  .grid-container .item3 p{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;

  }
  .grid-container .item4 p{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;

  }

  .grid-container .number_png{
    width: 5vw;
    filter: brightness(2.5);
  }
  
  .item1 {
    grid-column: 1;
  }

  .video_section{
    margin-top: 70px;
    display: grid;
    align-items: center;
    gap: 4vh;
    position: absolute;
    left: auto;
    top: 41vh;
  }

  .video_section .grid1{
    margin-left: 15vh;
    width: 70%;
    height: 40vh;
    background-color: black;
    border-radius: 10px;
    position: relative;
  }

  .video_section .grid1:nth-child(1){
    background-color: black;
    border-radius: 10px;
  }

  .video_section .grid2{
    margin-left: 65vh;
    width: 70%;
    height: 40vh;
    background-color: black;
    position: relative;
    border-radius: 10px;
  } 

  #firstVideo{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .three_grid{
    margin-top: 80px;
    height: fit-content;
    gap: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .three_grid .container1{
    display: flex;
    align-items: baseline;
    width: 25vw;
    height: 500px;
    background-color: #8fdce7;
    border-radius: 16px;
    justify-content: center;
    box-shadow: -2px 4px 38px 5px #9d9d9d;
  } 

  .container1 span{
    position: absolute;
    margin-top: 220px;
    background-color: #1e3770;
    color: white;
    width: 14vw;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 0;
  }

  .container1 ul{
    position: absolute;
    margin-top: 250px;
    width: 15vw;
    height: auto;
    font-weight: 500;
    margin-left: 0;
  }


.buypack {
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    background-color: white;
    align-items: center;
}

.buypack h3{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 4rem;
    width: 100%;
}

.buypack .linkss {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buypack .linkss a {
    /* text-decoration: none; */
    list-style: none;
    color: black;
    font-size: 36px;
}

.introduction_section{
    height: 250vh;
    border-radius: 45px;
    position: relative;
    width: 96%;
    margin-top: 90px;
    margin-right: 2%;
    margin-left: 2%;
}

.introduction_section h3{
    font-weight: 700;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1{
    padding: 30px;
    margin-bottom: 24px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 55vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.section1:nth-child(2){
    background-color: #dfdfdf;
    color: black;
}
.section1:nth-child(3){
    background-color: #dfdfdf;
    color: black;
}
.section1:nth-child(4){
    background-color: #1E3770;
    color: white;
}
.section1:nth-child(5){
    background-color: #1E3770;
    color: white;
}

.section1 p{
    margin-top: 10px;
    margin-left: 10px;
}

.section1 .right{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.image_and_caption{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image_and_caption span{
    margin-top: 0;
    margin-left: 56px;
    margin-bottom: 0px;
    margin-right:  27px;
    font-weight: 500;
}

.image_and_caption img{
    width: 22vw;
    height: 45vh;
}

.linkss li{
    list-style: none;
}

.linkss li a {
    text-decoration: none;
}

.buypack .writingsection {
    width: 100%;
    height: 94.3%;
}

.writingsection ul {
    padding: 1px 0px 0px 103px;
    font-size: 20px;
    position: absolute;
    width: 100%;
}

.writingsection ul li {
    margin-top: 73px;
    font-weight: 600;
    margin-left: 3%;
    margin-right: auto;
    width: 90%;
    color: rgb(7, 7, 194);
}


@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
/* body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #455A64;
    height: 100 !important;
} */



.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    /* background:#262626 ; */
    background-color: black;
    /* color: #627482  !important; */
    color: orange !important;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0px;
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.bold-text {
    /* color: #989c9e !important; */
    color: orange !important;
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
}


h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
    color: orange !important;
}

.social {
    font-size: 21px !important;
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}


.but {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.buts {
    background-color: rgb(5, 5, 79);
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 10vw;
    border: none;
    outline: none;
}

.but .dropdown{
    margin-bottom: 10vh;
}

.but a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.buts:hover {
    background-color: rgb(22, 22, 150);
}

.buts a:hover {
    color: white;
}






.dropbtn {
    background-color: rgb(5, 5, 79);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    width: 10vw;
    left: -2vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    /* height: 50px; */
    width: 8vw;
    left: 0vw;
    top: 5.2vh;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(22, 22, 150);
}
.text.first-text{
    font-size: 4.5rem;
    top: 12vh;
    margin-left: 0px;
}

.text.sec-text{
    font-size: 4.5rem;
    top: 15vh;
    left: -22vh;
    height: 5vh;
    width: 40vh;;
}